pkgbase = linux-aarch64-rockchip-bsp5.10-radxa-git
	pkgdesc = Latest git Linux kernel package based on 5.10.x BSP kernel published by RADXA targetting rk3399 based rock4 and rk3588 based rock5 boards
	pkgver = 5.10.1082079.6e429d80da
	pkgrel = 1
	url = https://github.com/radxa
	arch = aarch64
	license = GPL2
	makedepends = xmlto
	makedepends = docbook-xsl
	makedepends = kmod
	makedepends = inetutils
	makedepends = bc
	makedepends = git
	makedepends = uboot-tools
	makedepends = dtc
	makedepends = python
	options = !strip
	source = git+https://github.com/radxa/kernel.git#branch=linux-5.10-gen-rkr4.1
	source = git+https://github.com/radxa/overlays.git#branch=main
	source = git+https://github.com/radxa-repo/bsp.git#branch=main
	source = kernel_config
	source = extlinux.radxa.template
	source = 1001-disable_warnings.patch
	source = 1002-rga3_uncompact_fix.patch
	source = 1003-vop2_rgba2101010_capability_fix.patch
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP

pkgname = linux-aarch64-rockchip-bsp5.10-radxa-git-headers
	pkgdesc = Headers and scripts for building modules for the linux kernel,
	depends = python

pkgname = linux-aarch64-rockchip-bsp5.10-radxa-git
	pkgdesc = The linux kernel,
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country
